body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smurf-container {
  display: flex;
  flex-wrap: wrap;
}

.smurf-card {
    margin: 25px;
    border: 1px solid;
    padding: 15px;
}

label {
  margin-right: 30px;
}